// animation duration controls the length of the entire animation
$animation-duration: 2000ms;


// The artwork layer controls the vertical movement and scale of the entire animation
// .artwork {
//   transform-origin: 0;
//   animation: artwork $animation-duration ease-in-out infinite;
// }

#rectangle {
    transform-origin: center;
    animation: animation-rectangle $animation-duration ease-in-out infinite;
}

@keyframes animation-rectangle {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    60% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}


// Style
body {
    background: #303845;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
  }
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .center {
    position: relative;
  }
  .center:before {
    content: 'SVG + CSS';
    display: none;
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: #7f8794;
    border-radius: 4px;
    font-family: arial, helvetica, sans-serif;
    box-shadow: 0 3px 0 black;
  }
  .center-image {
    background: #1c232d;
  }